#exampleFormControlInput1{
    width: 50%;
    margin: 20px 55px;
    
}

.form-label{
    display: flex;
    margin: 10px 55px;
}

#exampleFormControlTextarea1{
    width: 70%;
    margin: 20px 55px;
    height: 200px;
}

.mb-3{
    margin: 50px 0px;
}

.form-control{
    /* background-color: rgba(0, 29, 101, 0.685); */
    /* color: #FFF; */
    
}

.btn{
    /* margin-bottom: 60px; */
}

.form-control::placeholder{
    /* color: #FFF; */
}

